/* work sans font from google */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap");

/* common style */
* {
  font-family: "Work Sans", sans-serif;
}
.btn-prime {
  border-radius: 8px;
  color: #fff;
  background: #ff900e;
  font-size: 18px;
  padding: 20px 25px;
  border: none;
  width: 170px;
  height: 60px;
  font-weight: 600;
  margin-bottom: 50px;
  cursor: pointer;
}
.title {
  color: #131313;
  font-size: 2.8rem;
  font-weight: 700;
}
/* .description {
  color:#727272;
  font-size: 16px;
  font-weight: 400;
  width: 530px;
  margin-top: 25px;
} */
.text-lightgrey {
  color: #727272;
  font-weight: 400;
}

/* header styles */
header {
  background: #ff900e1a;
  padding: 50px 240px;
}

/* nav style */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav > ul {
  display: flex;
}
nav li {
  list-style: none;
  margin-right: 30px;
  font-size: 18px;
  font-weight: 500;
}
nav a {
  text-decoration: none;
  color: #424242;
}

/* banner style */
.banner {
  max-width: 800px;
  text-align: center;
  margin: 0 auto;
}
.banner-title {
  font-size: 4rem;
  font-weight: 700;
  color: #131313;
}

.banner img {
  width: 100%;
}

/* main part */
main {
  max-width: 1440px;
  margin: 0px auto;
}

/* team part styles */
.teams-container {
  display: flex;
  align-items: center;
}
.teams-img-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}
.teams-content {
  padding-left: 70px;
  padding-right: 70px;
}
.quick-list {
  color: #727272;
  font-weight: 500;
}
.text-feature {
  color: #ff900e;
}

/* features part style */
.features {
  margin-top: 130px;
  display: flex;
  gap: 100px;
  
}.feature-content > .title {
    border-left:5px solid #ff900e;
    padding-left: 20px;
  }
.feature-content > .card {
  padding: 30px;
  margin-bottom: 20px;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0px 4px 30px 0px #0000000f;
}

.features-img img{
  height: 90%;
  margin-left: 90px;
}
.ten-years-badge{
  border-radius: 8px;
  background: #ff900e;
  color: #fff;
  width: 340px;
  text-align: center;
  padding: 40px;
  position: relative;
  bottom: 100px;
}
.ten-years-badge>h2{
  font-size: 4rem;
  margin-top: 0px;
  margin-bottom: 0px;
}
.ten-years-badge>p{
  font-size: 1.5rem;
}





/* facts part */
.facts-card-container {
  display: flex;
  justify-content: space-around;
}
.facts-card-container > .card {
  border-radius: 8px;
  border: 1px solid #ff900e;
  text-align: center;
  padding: 30px;
}
.card-title {
  color: #727272;
  font-weight: 600;
  margin-top: 5px;
  width: 150px;
}
.card-stats {
  font-size: 2.8rem;
  columns: #424242;
  font-size: 1.25rem;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* sponsors parts style */
.sponsors-img-container {
  margin-top: 50px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 40px;
}
.sponsors-img-container img {
  width: 165px;
}

/* media queries */
/* smaller devices */
@media screen and (max-width: 576px) {
  header {
    padding: 20px;
  }
  nav,
  .teams-container,.features,
  .facts-card-container,
  .sponsors-img-container {
    flex-direction: column;
  }
  .features-img img{
  width: 80%;
  margin-left: 90px;
  }
  .ten-years-badge{
    position: static;
    max-width: 300px;
  }
  .teams-img-container {
    grid-template-columns: repeat(1, 1fr);
  }
  .teams-content {
    padding-left: 20px;
    padding-right: 20px;
  }
  .facts-card-container {
    gap: 30px;
    padding: 30px;
  }
}

/* medium devices */
@media screen and (min-width: 577px) and (max-width: 960px) {
  header {
    padding: 50px;
  }
  nav,.features,
  .teams-container,
  .sponsors-img-container {
    flex-direction: column;
    /* flex-wrap: wrap; */
  }
}
