/* work sans font from google */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap");

/* common style */
* {
  font-family: "Work Sans", sans-serif;
}
.btn-prime {
  border-radius: 8px;
  color: #fff;
  background: #ff900e;
  font-size: 18px;
  padding: 20px 25px;
  border: none;
  width: 170px;
  height: 60px;
  font-weight: 600;
  margin-bottom: 50px;
  cursor: pointer;
}
.title {
  color: #131313;
  font-size: 2.8rem;
  font-weight: 700;
}
/* .description {
  color:#727272;
  font-size: 16px;
  font-weight: 400;
  width: 530px;
  margin-top: 25px;
} */
.text-lightgrey {
  color: #727272;
  font-weight: 400;
}





/* header styles */
header {
  background: #ff900e1a;
  padding: 50px 240px;
}

/* nav style */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav > ul {
  display: flex;
}
nav li {
  list-style: none;
  margin-right: 30px;
  font-size: 18px;
  font-weight: 500;
}
nav a {
  text-decoration: none;
  color: #424242;
}


/* banner style */
.banner {
  max-width: 800px;
  text-align: center;
  margin: 0 auto;
}
.banner-title {
  font-size: 4rem;
  font-weight: 700;
  color: #131313;
}

.banner img {
  width: 100%;
}

/* main part */
main{
  max-width: 1440px;
  margin: 0px auto;
}



/* team part styles */
.teams-container{
  display: flex;
  align-items: center;
}
.teams-img-container{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 1.5rem;
}
.teams-content{
  padding-left: 70px;
  padding-right: 70px;
}
.quick-list{
  color:#727272;
  font-weight: 500;
}
.text-feature{
  color: #ff900e;

}




/* features part style */




/* facts part */
.facts-card-container{
  display: flex;
  justify-content: space-around;
  
}
.card{
  border-radius: 8px;
  border: 1px solid #ff900e;
  text-align: center;
  padding: 30px;
}
.card-title{
  color: #727272;
  font-weight: 600;
  margin-top: 5px;
  width: 150px;
}
.card-stats{
  font-size: 2.8rem;
  columns: #424242;
  font-size: 1.25rem;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* sponsors parts style */
.sponsors-img-container{
  margin-top: 50px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 40px;
}
.sponsors-img-container img{
  width: 165px;
}


/* media queries */
/* smaller devices */
@media screen and (max-width: 576px) {
  header {
    padding: 20px;
  }
  nav,.teams-container,.facts-card-container,.sponsors-img-container{
    flex-direction: column;
  }
  .teams-img-container{
    grid-template-columns: repeat(1,1fr);
  }
  .teams-content{
    padding-left: 20px;
    padding-right: 20px;
  }
  .facts-card-container{
    gap: 30px;
    padding: 30px;
  }
}


/* medium devices */
@media screen and (min-width: 577px) and (max-width: 960px) {
  header {
    padding: 50px;
  }
  nav,.teams-container,.sponsors-img-container {
    flex-direction: column;
    /* flex-wrap: wrap; */
  }
}
